/* 
.chart{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: row;
}
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
}

h2{
text-align: center;
}




.header{
    display: flex;
    flex-direction: row;
}

.score{
    font-size: xx-large;
    margin-top: 200px;
    margin-left: 150px;
}

.main{
    display: flex;
    flex-direction: row;
}

.common{
display: flex;
flex-direction: column;
border: 2px solid rgb(47, 19, 44);
margin-top: 12px;
margin-bottom: 10px;
padding: 12px;
text-align: center;
margin-left: 5px;
margin-right: 5px;
border-radius: 21px;
}

.btn{
background-color: #f383ce;
color: #0b0000;
border: 2px;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-top: 10px;
transition: background-color 0.3s ease-in-out;
}

.btn:hover{
background-color: #130e11;
color: #fff;
}

.btn:active{
background-color: #9b3974;
color: #fff;
} */

.chart{
    height: 450px;
    width: 550px;
    display: flex;
    margin-left: 50px;
    flex-direction: row;
}
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

margin: 0;
padding: 0;
background:   url('peach.jpg');



  /* Set the background image */
  /* background-image: url('peach.jpg');
  /* Specify background image properties */
  /* background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;  */
  /* Set a fallback background color in case the image is not available */
  /* background-color: #f0f0f0; */
  /* Optionally, set other styles for the body element */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h2{
text-align: center;
}




.chartcontainer{
    display: flex;
    flex-direction: row;
    background-color: rgba(222, 184, 184, 0.3);
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
   
}

.score{
    font-size: xx-large;
    margin-top: 200px;
    margin-left: 150px;
    font-family: 'Dancing Script', cursive;
    
    
}

.main{
    display: flex;
    flex-direction: row;
}

.common{
display: flex;
flex-direction: column;
border: 2px solid rgb(47, 19, 44);
margin-top: 12px;
margin-bottom: 10px;
padding: 12px;
text-align: center;
margin-left: 5px;
margin-right: 5px;
border-radius: 21px;
background: linear-gradient( #f7ebc3, #FBF7F0 );
}

.btn{
background-color: #f4c454;
color: #0b0000;
border: 2px;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-top: 10px;
transition: background-color 0.3s ease-in-out;
}

.btn:hover{
background-color: #130e11;
color: #fff;
}

.btn:active{
background-color: #4af071;
color: black;
}

.resulthead {
    text-align: center;
    font-size: 50px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
    font-family: 'Dancing Script', cursive;
    
}

.chances{
    
    font-family: 'Dancing Script', cursive;
    background-color: rgba(243, 152, 142, 0.8);

}