*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}


#navbar{
    display: flex;
    align-items: center;
    background-color: white;
}

#navbar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.site p a{
    font-size: 25px;
    font-family: 'Dancing Script', cu3rsive;
    margin: 12px;
    text-decoration: none;
    color: #000000;
}

#logo{
    margin: 34px 45px;
}

#logo img{
    height: 65px;
    margin: -23px -35px;
     /* border: 2px solid black; */
    /* border-radius: 50px; */

}

#community{
    margin: 34px 45px;
}

#community img{
    height: 53px;
    margin: -23px -35px;
    border: 2px solid black;
    border-radius: 50px;
}


#map{
    margin: 23px 30px;
}

#map img{
    height: 53px;
    margin: -23px -30px;
    border: 2px solid black;
    border-radius: 50px;
}


#navbar{
    position: relative;
}

#navbar ul{
    margin-left: 650px;
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: white;
    background-color: #004225;
}

.button-container {
    position: relative;
    display: inline-block;
    width: 96px;
  }

  .button {
    display: inline-block;
    font-size: 20.8px;
    font-family: 'Times New Roman', Times, serif;
    padding: 3px 22px;
    background-color: rgba(52, 152, 219, 0.0);
    color: #000000;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .button:hover .links {
    display: block;
  }

  .links {
    display: none;
    position: absolute;
    font-size: 1.1rem;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    border: 2px solid #004225;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
  }

  .links a {
    display: block;
    color: #000000;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 0;
  }

  .links a:hover {
    background-color: #004225;
    color: #fff;
  }

  /* Show the dropdown content when the button is clicked */
  .show {
    display: block;
  }







        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background:   url('peach.jpg');
            /* height: 100vh; */
        } 

        form {
           
            border-radius: 10px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.3);
            margin-top:15px ;
            
        }

        .question {
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            margin: 10px 0;
            font-size: 18px;
        }


        #red {
            background: linear-gradient( #fdcb27, #FBF7F0);
            border: 2px solid black;
            border-radius: 80px;
            height: 80px;
            width: 80px;
        }

        #blue {
            background: linear-gradient( #f6e7b5, #FBF7F0);
            border: 2px solid black;
            border-radius: 80px;
            height: 50px;
            width: 50px;

        }

        #green {
            background: linear-gradient( #f7ebc3, #FBF7F0);
            border: 2px solid black;

            border-radius: 80px;
            height: 40px;
            width: 40px;

        }

        #yellow {
            background: linear-gradient( #f6de92, #FBF7F0);
            border: 2px solid black;
            border-radius: 80px;
            height: 60px;
            width: 60px;
        }

        #orange {
            background: linear-gradient( #fad350, #FBF7F0);
            border: 2px solid black;

            border-radius: 80px;
            height: 70px;
            width: 70px;
        }

        .custom-button {
            font-weight: bold;
            margin-left: 35px;
            margin-right: 11px;
            margin-top: 11px;

            border: 5px;
            margin-top: 20px;
            font-size: 16px;
            text-align: center;

            padding: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }
        #red:hover,
        #blue:hover,
        #green:hover,
        #yellow:hover,
        #orange:hover {
            background: linear-gradient( #f7902f, #FBF7F0);
        }

        .submit{
            background: linear-gradient( #faad50, #FBF7F0);
            color: #0b0000;
            border: 2px;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
            transition: background-color 0.3s ease-in-out;
        }

        

        .submit:hover{
            background: linear-gradient( #f7902f, #FBF7F0);
            color: #fff;
        }

        .submit:active{
            background: linear-gradient( #f7902f, #FBF7F0);
            color: #fff;
        }

        #red:active,
#blue:active,
#green:active,
#yellow:active,
#orange:active {
    background: linear-gradient(#f6606d, #FBF7F0);
    color: #fff;
}