* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1e7ed;
    text-align: center;
}
.fans img{
    height: 62px;
    width: 113%;

}
.score{
    align-items : center;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    color: #33363b;
}

p{
    font-size: 14px;
    color: #51555e9a;
}

.card {
    width: 98%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 14px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card_profile_img {
    width: 200px;
    height: 200px;
    background-color: #868d9b;
    background: url('../Resources/WhatsApp Image 2023-12-20 at 15.48.19_cf234f41.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
    border-radius: 120px;
    margin: 0 auto;
    margin-top: -60px;

}

.card_background_img {
    width: 100%;
    height: 250px;
    background-color: #e1e7ed;
    background: url("https://source.unsplash.com/9wg5jCEPBsw");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.details {
    margin: 10px;
}

.username h2 {
    margin-top: 10px;
}

.card_count {
    padding: 30px;
    border-top: 1px solid #dde1e7;
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.count p {
    margin-top: -10px;
}

.btn {
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #24c5a1;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
table, th, td {
    width: 100%;
    border: 1px solid black;
    table-layout: fixed;
}


#test{
    /* border: 3px solid blue; */
    position: relative;
    height: 300px;
    margin-bottom: 30px;
}

#left{
    display: flex;
    flex-direction: column;
    /* border: 3px solid black; */
    position: absolute;
    margin-right: 5px;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 50%;
    align-items: center;
}

#right{
    /* border: 3px solid black; */
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 50%;
    margin-left: 5px;
}

#logout{
    float: right;
}